* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* style body */
body {
    background-image: url(../images/bgDarkOpac.jpg);
    overflow: hidden;
}

@media screen and (width < 768px) {
    body {
        overflow: auto;
    }
}

/* Header */
header {
    text-align: center;
}


/* style texts */
h1, div, p, .butn {
    color: aliceblue;
}

h1 {
    color: rgb(46, 9, 9);
    font-size: 72px;
    font-weight: bolder;
    text-decoration: double;
    text-decoration: underline;
    letter-spacing: 4px;
    word-spacing: 8px;
    text-shadow: 1px 1px 2px rgb(2030,123, 123),0 0 1em rgb(113, 251, 251);
}

/* btn */

.butn {
    background-color: rgba(64, 14, 14, 0.8);
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    box-shadow: 0px 10px 30px rgba(64, 14, 14,0.8);
}

.butn:hover {
    background-color: rgba(206, 122, 122, 0.8);
    box-shadow: 0px 10px 30px rgba(203, 196, 196,0.8);
}

/* btn top */

.btn_top {
    margin-right: 10px;
}

.btn_top_flex {
    display: flex;
    justify-content: center;
}


/* footer */
.img_footer {
    width: 450px;
    height: 150px;
}

footer {
    text-align: center;
}

/* Dice decoration */
.cube {
    font-size: 80px;
    width: 160px;
    height: 160px;
    margin: 80px auto;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 60deg);
    perspective-origin: 40% 40%;
    animation: rotate 5s linear;
}

@keyframes rotate {
    0% {
        transform: rotate3d(1, 1.5, -1, 0deg);
        perspective-origin: 100% 100%;
    }

    /* 25% {
        transform: rotate3d(1, 1.5, -1, 0deg);
        perspective-origin: 100% 100%;
    }

    50% {
        perspective-origin: 300% 100%;
        transform: rotate3d(2, -1, -1, 360deg);
    }

    75% {
        perspective-origin: 50% 300%;
    } */

    100% {
        transform: rotate3d(1, 1.5, -1, 360deg);
        perspective-origin: 0% 100%;
    }
}

.side {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: rgb(38, 32, 32);
    border: 1px solid rgba(134, 64, 64, 0.5);
    color: white;
    text-align: center;
    line-height: 2em;
    box-shadow: inset 0px 0px 40px rgb(227, 18, 18);
    padding: 14px;
    border-radius: 20px;
}

.first-face {
    transform: rotateX(0deg) translateZ(80px);
}

.second-face {
    transform: rotateY(270deg) translateZ(80px);
}

.third-face {
    transform: rotateX(270deg) translateZ(80px);
}

.fourth-face {
    transform: rotateX(90deg) translateZ(80px);
}

.fifth-face {
    transform: rotateY(90deg) translateZ(80px);
}

.sixth-face {
    transform: rotateX(180deg) translateZ(80px);
}

.box {
    animation : spin linear 2s;
    display : block;
    transition: all 3s ease-in-out;
}

@keyframes spin {
    0% {transform: rotate(720deg);
        margin-top: -400px}
    100% {transform: rotate(360deg);
        margin-top: 100px;    
    }
}

/*Dot on faces*/

.dot {
    display: block;
    width: 40px;
    height: 40px;
    background: white;
    /* position: absolute; */
    border-radius: 100%;
    box-shadow: inset 0px 0px 16px #666;
}


/* Dice Faces*/
.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.second-face {
    display: flex;
    justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
    align-self: flex-end;
}

.third-face {
    display: flex;
    justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
    align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
    align-self: center;
}

.fourth-face,
.sixth-face,
.fifth-face {
    display: flex;
    justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column,
.fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

/* main */
main {
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    margin-left: 15px;
    justify-content: center;
}

.container__board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: groove 8px white;
    text-align: center;
    padding: 3%;
    border-radius: 20px;
    text-align: center;
    background-image: url(../images/BgTxtBlackOpac.jpg);
}

.container__player1, .container__player2  {
    border-radius: 20px;
    padding: 3%;
}

.container__player1 {
    border: solid 3px rgb(203, 123, 123);
    box-shadow: 0px 10px 30px rgb(203, 123, 123,0.5);
}

.container__player2 {
    border: solid 3px rgb(113, 251, 251);
    box-shadow: 0px 10px 30px rgba(134, 245, 236,0.5);
}

#player1 {
    color : rgb(200, 139, 139);
    font-size: 45px;
    text-decoration: underline;
    font-weight: bolder;
}

#player2 {
    color : rgb(113, 251, 251);
    font-size: 45px;
    text-decoration: underline;
    font-weight: bolder;
}


.activePlayer {
    background-color: rgb(195, 154, 195, 0.3);
}

.container__dice {
    display: block;
    align-items: center;
    border-radius: 20px;
    padding: 45px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(203, 123, 123), rgb(113, 251, 251));
    border-image-slice: 1;
}

.imgDiceWhite {
    margin: 5px auto;
    width: 30%;
    height: 30%;
}

/*  scores */
.player__currentScore{
    font-size: 30px;
    border: solid 1px white;
    margin : 5px;
}

.player__totalScore {
    font-size: 45px;
    border: solid 2px white;
    margin : 5px;
}



